<header class="header-desktop2">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap2">
                <div class="logo d-block d-lg-none">
                    <a href="#">
                        <img src="/images/icon/logo-white.png" alt="CoolAdmin" />
                    </a>
                </div>
                <div class="header-button2">    
                    <div class="header-button-item js-item-menu">
                        <i class="zmdi zmdi-globe"></i>
                        <div class="notifi-dropdown js-dropdown" style="min-width:200px">                          
                            <a class="notifi__item" style="padding:10px 20px" href="/api/agent/i18n/en" >
                                <div style="margin-right:1rem">
                                    <img src="/images/flags/en.svg" width="40" height="40"/>          
                                </div>
                                <div class="content" style="display:flex;align-items: center;">
                                    <p>English</p>             
                                </div>
                            </a>
                            <a class="notifi__item" style="padding:10px 20px" href="/api/agent/i18n/pt" >
                                <div style="margin-right:1rem">
                                    <img src="/images/flags/pt.svg" width="40" height="40"/>          
                                </div>
                                <div class="content" style="display:flex;align-items: center;">
                                    <p>Portuguese</p>             
                                </div>
                            </a>
                            <a class="notifi__item" style="padding:10px 20px" href="/api/agent/i18n/ja" >
                                <div style="margin-right:1rem">
                                    <img src="/images/flags/ja.svg" width="40" height="40"/>          
                                </div>
                                <div class="content" style="display:flex;align-items: center;">
                                    <p>Japanese</p>             
                                </div>
                            </a>
                        </div>
                    </div>                                
                    <div class="header-button-item mr-0 js-sidebar-btn">
                        <i class="zmdi zmdi-menu"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>